@mixin flex($ai: normal, $jc: start, $fd: row, $g: 0, $fw: nowrap) {
  display: flex;
  align-items: $ai;
  justify-content: $jc;
  flex-direction: $fd;
  flex-wrap: $fw;
  gap: $g;
}

@mixin text-regular($size, $lh, $color) {
  font-family: "Cera Pro Regular";
  font-size: $size;
  line-height: $lh;
  color: $color;
}

@mixin text-medium($size, $lh, $color) {
  font-family: "Cera Pro Medium";
  font-size: $size;
  line-height: $lh;
  color: $color;
}

@mixin text-bold($size, $lh, $color) {
  font-family: "Cera Pro Bold";
  font-size: $size;
  line-height: $lh;
  color: $color;
}

@mixin text-black($size, $lh, $color) {
  font-family: "Cera Pro Black";
  font-size: $size;
  line-height: $lh;
  color: $color;
}
