* {
  font-family: "CeraPro", sans-serif;
}

.container {
  padding: 30px 120px 52px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  border-bottom: 1px solid rgba(70, 163, 88, 0.5);
  margin-bottom: 12px;
}

ul.menuList {
  display: flex;
  gap: 50px;
}

li.menuListItem {
  padding: 8px 0 25px;
  border-bottom: 3px solid transparent;
  font-family: "Cera Pro Regular";
}

li.menuListItem:hover {
  border-bottom: 3px solid #46a358;
  font-family: "Cera Pro Bold";
}

button.headerBtn {
  border: none;
  display: flex;
  align-items: center;
  color: #fff;
  gap: 4px;
  padding: 7px 17px;
  border-radius: 6px;
  background: #46a358;
  font-weight: 500;
}

.container2 {
  display: flex;
  background: linear-gradient(
    98deg,
    rgba(245, 245, 245, 0.5) -23.46%,
    rgba(245, 245, 245, 0.5) 107.51%
  );
}

.p1 {
  color: #3d3d3d;
  font-family: "Cera Pro Medium";
  font-size: 14px;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

.p2 {
  color: #3d3d3d;
  font-family: "Cera Pro Black";
  font-size: 70px;
  font-weight: 900;
  line-height: 70px; /* 100% */
  text-transform: uppercase;
}

.spank {
  color: #46a358;
  font-family: "Cera Pro Black";
  font-size: 70px;
  font-weight: 900;
  line-height: 70px;
  text-transform: uppercase;
}

.p3 {
  max-width: 69%;
  color: #727272;
  font-family: "Cera Pro Regular";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}

.text {
  padding: 68px 43px 85px;
}

button.button2 {
  margin-top: 44px;
  border: none;
  align-items: center;
  padding: 11px 27px;
  border-radius: 6px;
  background: #46a358;
  color: #fff;
  font-family: "Cera Pro Bold";
  font-size: 16px;
  font-weight: 700;
  line-height: 20px; /* 125% */
  text-transform: uppercase;
}

.foto {
  width: 507px;
}

.container3 {
  display: flex;
  margin-top: 30px;
  gap: 30px;
}

.sidebar {
  background: #fbfbfb;
}

.h1 {
  padding: 14px 20px 10px;
  color: #3d3d3d;
  font-family: "Cera Pro Bold";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 88.889% */
}

ul.MenuList1 {
  display: flex;
  flex-direction: column;
  padding: 0 10px 0 30px;
  margin-bottom: 377px;
}

.MenuList1 {
  color: #3d3d3d;
  font-family: "Cera Pro Regular";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

.MenuList1.active {
  color: #46a358;
  font-family: "Cera Pro Bold";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 266.667% */
}

.SALE {
  width: 310px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

ul.menuLIst {
  display: flex;
  gap: 40px;
}

li.menuLIst {
  color: #3d3d3d;
  font-family: "Cera Pro Regular";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 106.667% */
  border-bottom: 3px solid transparent;
}

.menuLIst.active {
  border-color: #46a358;
  color: #46a358;
  font-family: "Cera Pro Bold";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 106.667% */
}

.menuLISt {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "Cera Pro Regular";
  color: #3d3d3d;
}

.strelka {
  padding-top: 3px;
}

.container4 {
  flex: 1;
}

.tovar {
  margin-top: 38px;
  display: flex;
  flex-wrap: wrap;
  gap: 33px 58px;
}

.plants1 {
  border-top: 1px solid transparent;
  padding: 31px 4px 19px;
  background: #fbfbfb;
}

.plants2 {
  border-top: 1px solid transparent;
  padding: 25px 4px;
  background: #fbfbfb;
}

.plants3 {
  border-top: 1px solid transparent;
  position: relative;
  padding: 24px 4px 26px;
  background: #fbfbfb;
}

.plants4 {
  border-top: 1px solid transparent;
  padding: 6px 13px 8px 21px;
  background: #fbfbfb;
}

.plants5 {
  border-top: 1px solid transparent;
  padding: 23px 4px 27px;
  background: #fbfbfb;
}

.plants6 {
  border-top: 1px solid transparent;
  padding: 23px 4px 27px;
  background: #fbfbfb;
}

.plants7 {
  border-top: 1px solid transparent;
  padding: 18px 4px 32px;
  background: #fbfbfb;
}

.plants8 {
  border-top: 1px solid transparent;
  padding: 28px 4px 22px;
  background: #fbfbfb;
}

.plants9 {
  border-top: 1px solid transparent;
  padding: 19px 4px 31px;
  background: #fbfbfb;
}

.Plintys {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  font-family: "Cera Pro Regular";
}

.activator {
  color: #46a358;
  font-family: "Cera Pro Regular";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 88.889% */
  margin-top: 6px;
}

.box {
  background-color: white;
  color: #3d3d3d;
  border: 1px solid #e5e5e5;
  width: 35px;
  height: 35px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.container6 {
  display: flex;
  justify-content: end;
  margin-top: 90px;
  padding-right: 43px;
}

.knopki {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.knopki li {
  display: flex;
}

.box.active {
  font-family: "Cera Pro Bold";
  background: #46a358;
  color: #fff;
}

.box {
  font-family: "Cera Pro Light";
}

li.memnuLISt {
  font-family: "Cera Pro Regular";
}

.menuList > li:hover > ul {
  display: flex;
  flex-direction: column;
  padding-top: 37px;
}

.sublist {
  position: absolute;
  display: none;
}

.sublist li {
  padding: 8px 0 8px 14px;
  background-color: #edf6ee;
  color: #3d3d3d;
  font-family: "Cera Pro Regular";
  font-weight: 400;
}

.ming {
  display: flex;
  align-items: baseline;
  position: relative;
  gap: 88.97px;
}

.ming:hover {
  background: #1a712a;
  color: #fff;
  font-family: "Cera Pro Bold";
}

.sublist li.ming:hover .tvar {
  transform: rotate(180deg);
  filter: brightness(0) invert(1);
}

.tvar {
  margin-right: 17px;
}

.pdf {
  display: none;
  position: absolute;
  padding-left: 2px;
  top: -300%;
  left: 100%;
  z-index: 1;
}

.sublist li.ming:hover .pdf {
  display: flex;
  flex-direction: column;
}

.pdf li {
  padding: 8px 0 8px 14px;
  width: 200%;
}

.container67 {
  padding: 69px 119px;
}

.topblock {
  display: flex;
  flex-direction: row;
  gap: 28px;
  margin-bottom: 138px;
}

.anastasia {
  position: relative;
  display: flex;
  background: #fbfbfb;
  width: 586px;
  height: 250px;
}

.p4 {
  padding-top: 4px;
  padding-bottom: 4px;
  color: #3d3d3d;
  text-align: right;
  font-family: "Cera Pro Black";
  text-transform: uppercase;
}

.p5 {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #727272;
  text-align: right;
  font-family: "Cera Pro Regular";
}

.find {
  display: flex;
  justify-content: end;
}

.findmore {
  margin-top: 36px;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 6px;
  background: #46a358;
  padding: 11px 27px;
  gap: 2px;
  color: #fff;
  font-family: "Cera Pro Medium";
}

.text2 {
  padding: 37px 30px;
  display: flex;
  flex-direction: column;
  align-items: end;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  max-width: 73%;
}

.zvetok5 {
  z-index: 1;
  position: absolute;
  width: 287px;
  top: -21%;
  left: -3%;
}

.herman {
  position: relative;
  display: flex;
  background: #fbfbfb;
  width: 586px;
  height: 250px;
}

.p6 {
  color: #3d3d3d;
  text-align: right;
  font-family: "Cera Pro Black";
  text-transform: uppercase;
}

.p7 {
  color: #727272;
  text-align: right;
  font-family: "Cera Pro Regular";
}

.find2 {
  display: flex;
  justify-content: end;
}

.findmore2 {
  display: flex;
  align-items: center;
  border: none;
  padding: 11px 27px;
  gap: 2px;
  margin-top: 36px;
  border-radius: 6px;
  background: #46a358;
  color: #fff;
  font-family: "Cera Pro Medium";
}

.text3 {
  padding: 37px 30px;
  display: flex;
  flex-direction: column;
  align-items: end;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  max-width: 73%;
}

.zvetok3 {
  z-index: 1;
  position: absolute;
  width: 289px;
  top: -21%;
  left: -3%;
}

.p8 {
  color: #3d3d3d;
  text-align: center;
  font-family: "Cera Pro Bold";
  padding-bottom: 15px;
}

.p9 {
  color: #727272;
  text-align: center;
  font-family: "Cera Pro Regular";
  padding-bottom: 35px;
}

.nizofr {
  width: 268px;
}

.text4 {
  background: #fbfbfb;
  width: 268px;
  height: 167px;
}

.readmore {
  color: #3d3d3d;
  display: flex;
  align-items: center;
  border: none;
  font-family: "Cera Pro Medium";
  background-color: #fbfbfb;
  gap: 3px;
  padding: 17px 9px 9px 9px;
}

.p10 {
  color: #46a358;
  font-family: "Cera Pro Medium";
  padding: 9px 9px 2px;
}

.p11 {
  color: #3d3d3d;
  font-family: "Cera Pro Bold";
  padding: 2px 9px 2px;
  max-width: 76%;
}

.p12 {
  color: #727272;
  font-family: "Cera Pro Regular";
  padding: 2px 7px 9px 9px;
}

.nizofr {
  width: 268px;
}

.text5 {
  background: #fbfbfb;
  width: 268px;
  height: 167px;
}

.readmore2 {
  color: #3d3d3d;
  display: flex;
  font-family: "Cera Pro Medium";
  align-items: center;
  border: none;
  background-color: #fbfbfb;
  gap: 3px;
  padding: 17px 9px 9px 9px;
}

.p13 {
  color: #46a358;
  font-family: "Cera Pro Medium";
  padding: 9px 9px 2px;
}

.p14 {
  color: #3d3d3d;
  font-family: "Cera Pro Bold";
  padding: 2px 9px 2px;
  max-width: 76%;
}

.p15 {
  color: #727272;
  font-family: "Cera Pro Regular";
  padding: 4px 9px 5px;
}

.nizofr2 {
  width: 268px;
}

.niz1 {
  display: flex;
  gap: 52px;
}

.text6 {
  background: #fbfbfb;
  width: 268px;
  height: 167px;
}

.readmore3 {
  color: #3d3d3d;
  font-family: "Cera Pro Medium";
  display: flex;
  align-items: center;
  border: none;
  background-color: #fbfbfb;
  gap: 3px;
  padding: 26px 9px 9px;
}

.p16 {
  color: #46a358;
  font-family: "Cera Pro Medium";
  padding: 9px 9px 2px;
}

.p17 {
  color: #3d3d3d;
  font-family: "Cera Pro Bold";
  padding: 2px 9px 2px;
  max-width: 71%;
}

.p18 {
  color: #727272;
  font-family: "Cera Pro Regular";
  padding: 0 0 0 8px;
  max-width: 100%;
}

.nizofr3 {
  width: 268px;
}

.text7 {
  background: #fbfbfb;
  width: 268px;
  height: 167px;
}

.readmore4 {
  color: #3d3d3d;
  font-family: "Cera Pro Medium";
  display: flex;
  align-items: center;
  border: none;
  background-color: #fbfbfb;
  gap: 3px;
  padding: 17px 9px 9px 9px;
}

.p19 {
  color: #46a358;
  font-family: "Cera Pro Medium";
  padding: 9px 9px 2px;
}

.p20 {
  color: #3d3d3d;
  font-family: "Cera Pro Bold";
  padding: 2px 9px 2px;
  max-width: 71%;
}

.p21 {
  color: #727272;
  font-family: "Cera Pro Regular";
  padding: 4px 9px 5px;
  max-width: 100%;
}

.nizofr4 {
  width: 268px;
}

ul.pokypki {
  display: flex;
  justify-content: center;
  gap: 26px;
}

.superogromniupenis {
  position: relative;
}

.home3 {
  display: none;
  position: absolute;
  bottom: 65px;
  left: 19%;
}

.home3 .pokypki svg path {
  fill: #000;
}

.home3 button:hover svg path {
  fill: #46a358;
}

.korzina {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #ffffff;
  border-radius: 4px;
  width: 35px;
  height: 35px;
}

.superogromniupenis:hover .home3 {
  display: flex;
}

.plants2:hover {
  border-top: 1px solid #46a358;
}

.plants1:hover {
  border-top: 1px solid #46a358;
}

.plants3:hover {
  border-top: 1px solid #46a358;
}

.plants4:hover {
  border-top: 1px solid #46a358;
}

.plants5:hover {
  border-top: 1px solid #46a358;
}

.plants6:hover {
  border-top: 1px solid #46a358;
}

.plants7:hover {
  border-top: 1px solid #46a358;
}

.plants8:hover {
  border-top: 1px solid #46a358;
}

.plants9:hover {
  border-top: 1px solid #46a358;
}

.old-price {
  text-decoration: line-through;
  color: #a5a5a5;
  font-family: "Cera Pro Regular";
  font-size: 18px;
}

.newold {
  display: flex;
  align-items: baseline;
  gap: 16px;
}

.skidka {
  position: absolute;
  background: #46a358;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 14px;
  left: 0;
  color: #fff;
  font-family: "Cera Pro Medium";
  font-size: 16px;
}

.read:hover .readmore {
  color: #46a358;
  font-family: "Cera Pro Medium";
}

.readmor {
  fill: #3d3d3d;
}

.read:hover .readmore .readmor {
  fill: #46a358;
}

.read2:hover .readmore2 {
  color: #46a358;
  font-family: "Cera Pro Medium";
}

.readmor2 {
  fill: #3d3d3d;
}

.read2:hover .readmore2 .readmor {
  fill: #46a358;
}

.read3:hover .readmore3 {
  color: #46a358;
  font-family: "Cera Pro Medium";
}

.readmor3 {
  fill: #3d3d3d;
}

.read3:hover .readmore3 .readmor {
  fill: #46a358;
}

.read4:hover .readmore4 {
  color: #46a358;
  font-family: "Cera Pro Medium";
}

.readmor {
  fill: #3d3d3d;
}

.read4:hover .readmore4 .readmor {
  fill: #46a358;
}

.lastcontainer {
  padding: 91px 120px 22px 120px;
}

.boxsik {
  background: #fbfbfb;
  padding: 45px 25px;
  display: flex;
  gap: 30px;
}

.koks {
  position: relative;
}

.ebali1 {
  position: relative;
}

.ebali2 {
  position: absolute;
  top: 23px;
  left: 22px;
}

.ebali3 {
  position: absolute;
  top: -22px;
  left: 20px;
}

.p22 {
  margin-top: 15px;
  margin-bottom: 9px;
  color: #3d3d3d;
  font-family: "Cera Pro Bold";
}

.p23 {
  color: #727272;
  font-family: "Cera Pro Regular";
  max-width: 89%;
}

.koks2 {
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  border-left: 1px solid rgba(70, 163, 88, 0.1);
  border-right: 1px solid rgba(70, 163, 88, 0.1);
}

.ebali4 {
  position: relative;
}

.ebali5 {
  position: absolute;
  top: 20px;
  left: 45px;
}

.ebali6 {
  position: absolute;
  top: -19px;
  left: 61px;
}

.p24 {
  margin-top: 15px;
  margin-bottom: 9px;
  color: #3d3d3d;
  font-family: "Cera Pro Bold";
}

.p25 {
  color: #727272;
  font-family: "Cera Pro Regular";
  max-width: 89%;
}

.koks3 {
  position: relative;
}

.ebali7 {
  position: relative;
}

.ebali8 {
  position: absolute;
  top: 34px;
  left: 5px;
}

.ebali9 {
  position: absolute;
  top: -13px;
  left: 29px;
}

.p26 {
  margin-top: 15px;
  margin-bottom: 9px;
  color: #3d3d3d;
  font-family: "Cera Pro Bold";
}

.p27 {
  color: #727272;
  font-family: "Cera Pro Regular";
  max-width: 89%;
}

.p28 {
  color: #3d3d3d;
  font-family: "Cera Pro Bold";
  padding-bottom: 25px;
}

.epta {
  border: none;
  padding: 12px 86px 12px 11px;
  color: #acacac;
  font-family: "Cera Pro Regular";
  border-radius: 6px 0 0 6px;
  background: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.06);
}

.Join {
  padding: 12px 25px;
  border: none;
  border-radius: 0 6px 6px 0;
  background: #46a358;
  color: #fff;
  font-family: "Cera Pro Bold";
  border-radius: 0 6px 6px 0;
  background: #46a358;
}

.int {
  padding-bottom: 35px;
  align-items: center;
  display: flex;
}

.p29 {
  color: #727272;
  font-family: "Cera Pro Regular";
  max-width: 99%;
}

.gradient {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #edf6ef 0%, #52c368 100%);
  padding: 25px;
}

.p30 {
  display: flex;
  align-items: center;
  gap: 8px;
}

.p31 {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #3d3d3d;
  font-family: "Cera Pro Regular";
}

.p32 {
  display: flex;
  align-items: center;
  gap: 8px;
  max-width: 79%;
  color: #3d3d3d;
  font-family: "Cera Pro Regular";
}

.polok {
  display: flex;
  align-items: center;
}

.vse {
  background: #fbfbfb;
  display: flex;
  padding: 33px 155px 29px 25px;
  border-bottom: 1px solid rgba(70, 163, 88, 0.2);
}

.lakosta {
  margin-right: 164px;
}

.lakosta2 {
  margin-right: 129px;
}

.lakosta3 {
  margin-right: 173px;
}

.mya {
  color: #3d3d3d;
  font-family: "Cera Pro Bold";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 88.889% */
  margin-bottom: 8px;
}

.mya2 {
  color: #3d3d3d;
  font-family: "Cera Pro Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 214.286% */
}

.mya3 {
  color: #3d3d3d;
  font-family: "Cera Pro Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 214.286% */
}

.mya4 {
  color: #3d3d3d;
  font-family: "Cera Pro Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 214.286% */
}

.mya5 {
  color: #3d3d3d;
  font-family: "Cera Pro Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 214.286% */
}

.mya6 {
  color: #3d3d3d;
  font-family: "Cera Pro Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 214.286% */
}

.mya7 {
  margin-bottom: 8px;
  color: #3d3d3d;
  font-family: "Cera Pro Bold";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 88.889% */
}

.mya8 {
  color: #3d3d3d;
  font-family: "Cera Pro Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 214.286% */
}

.mya9 {
  color: #3d3d3d;
  font-family: "Cera Pro Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 214.286% */
}

.mya10 {
  color: #3d3d3d;
  font-family: "Cera Pro Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 214.286% */
}

.mya11 {
  color: #3d3d3d;
  font-family: "Cera Pro Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 214.286% */
}

.mya12 {
  color: #3d3d3d;
  font-family: "Cera Pro Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 214.286% */
}

.mya13 {
  margin-bottom: 8px;
  color: #3d3d3d;
  font-family: "Cera Pro Bold";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 88.889% */
}

.mya14 {
  color: #3d3d3d;
  font-family: "Cera Pro Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 214.286% */
}

.mya15 {
  color: #3d3d3d;
  font-family: "Cera Pro Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 214.286% */
}

.mya16 {
  color: #3d3d3d;
  font-family: "Cera Pro Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 214.286% */
}

.mya17 {
  color: #3d3d3d;
  font-family: "Cera Pro Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 214.286% */
}

.mya18 {
  color: #3d3d3d;
  font-family: "Cera Pro Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 214.286% */
}

.lyi {
  gap: 10px;
  border: none;
  background-color: #fff;
  border-radius: 4px;
}

.mya19 {
  padding-bottom: 20px;
  color: #3d3d3d;
  font-family: "Cera Pro Bold";
}

.mya20 {
  padding-top: 33px;
  padding-bottom: 13px;
  color: #3d3d3d;
  font-family: "Cera Pro Bold";
}

.p100 {
  padding-top: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3d3d3d;
  font-family: "Cera Pro Regular";
}
