@charset "UTF-8";
@use "mixins";

* {
  font-family: "CeraPro", sans-serif;
}

html,
body {
  height: 100vh;
}

.container {
  padding: 30px 120px 52px;
}

.header {
  @include mixins.flex(start, space-between, row, 0, nowrap);
  border-bottom: 1px solid rgba(70, 163, 88, 0.5);
  margin-bottom: 12px;
}

ul.menuList {
  @include mixins.flex(start, start, row, 50px, nowrap);
}

li.menuListItem {
  gap: 10px;
  padding: 8px 0 25px;
  border-bottom: 3px solid transparent;
  transition: 0.3s;
  cursor: pointer;
}

li.menuListItem:hover {
  border-bottom: 3px solid #46a358;
  font-family: "Cera Pro Bold";
}

button.headerBtn {
  @include mixins.flex(center, start, row, 4px, nowrap);
  border: none;
  color: #fff;
  padding: 7px 17px;
  border-radius: 6px;
  background: #46a358;
  font-weight: 500;
  cursor: pointer;
}

button.headerBtn:active {
  background: #4fc867;
  cursor: pointer;
}

.container2 {
  @include mixins.flex(start, start, row, 0, nowrap);
  background: linear-gradient(
    98deg,
    rgba(245, 245, 245, 0.5) -23.46%,
    rgba(245, 245, 245, 0.5) 107.51%
  );
}

.p1 {
  @include mixins.text-medium(14px, 16px, #3d3d3d);
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

.p2 {
  @include mixins.text-black(70px, 70px, #3d3d3d);
  text-transform: uppercase;
}

.spank {
  @include mixins.text-black(70px, 70px, #46a358);
  text-transform: uppercase;
}

.p3 {
  @include mixins.text-regular(14px, 24px, #727272);
}

.text {
  padding: 68px 43px 85px;
}

button.button2 {
  @include mixins.flex(start, center, row, 0, nowrap);
  @include mixins.text-bold(16px, 20px, #fff);
  margin-top: 44px;
  border: none;
  padding: 11px 27px;
  border-radius: 6px;
  background: #46a358;
  text-transform: uppercase;
  cursor: pointer;
}

button.button2:active {
  background: #4fc867;
}

.foto {
  width: 507px;
}

.container3 {
  @include mixins.flex(normal, normal, row, 30px);
  margin-top: 30px;
}

.sidebar {
  background: #fbfbfb;
}

.h1 {
  padding: 14px 20px 10px;
  @include mixins.text-bold(18px, 16px, #3d3d3d);
}

.SALE {
  width: 310px;
}

.navbar {
  @include mixins.flex(normal, space-between);
}

ul.menuLIst {
  @include mixins.flex(normal, normal, row, 40px);
  cursor: pointer;
}

li.menuLIst {
  @include mixins.text-regular(15px, 16px, #3d3d3d);
  border-bottom: 3px solid transparent;
}

.menuLIst.active {
  @include mixins.text-bold(15px, 16px, #46a358);
  border-color: #46a358;
}

.menuLISt {
  @include mixins.flex(center, normal, row, 8px);
  @include mixins.text-regular(15px, 16px, #3d3d3d);
  cursor: pointer;
}

.strelka {
  padding-top: 3px;
}

.container4 {
  flex: 1;
}

.tovar {
  margin-top: 38px;
  @include mixins.flex(normal, normal, row, 33px 58px, wrap);
}

.plant-img {
  border-top: 1px solid transparent;
  background: #fbfbfb;
  transition: 0.3s;
}

.plant-img--1 {
  padding: 31px 4px 19px;
}

.plant-img--2 {
  padding: 25px 4px;
}

.plant-img--3 {
  position: relative;
  padding: 24px 4px 26px;
}

.plant-img--4 {
  padding: 6px 13px 8px 21px;
}

.plant-img--5 {
  padding: 23px 4px 27px;
}

.plant-img--6 {
  padding: 23px 4px 27px;
}

.plant-img--7 {
  padding: 18px 4px 32px;
}

.plant-img--8 {
  padding: 28px 4px 22px;
}

.plant-img--9 {
  padding: 19px 4px 31px;
}

.Plintys {
  @include mixins.flex(normal, normal, column);
  @include mixins.text-regular(16px, 16px, #3d3d3d);
  margin-top: 12px;
  cursor: pointer;
}

.activator {
  @include mixins.text-regular(18px, 16px, #46a358);
  padding-top: 6px;
  cursor: pointer;
}

.box {
  background-color: white;
  color: #3d3d3d;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  padding: 10px 15px;
  @include mixins.flex(center, center);
  cursor: pointer;
}

.container6 {
  @include mixins.flex(normal, end);
  margin-top: 90px;
  padding-right: 43px;
}

.knopki {
  @include mixins.flex(normal, normal, row, 10px);
  list-style: none;
}

.knopki li {
  display: flex;
}

.box.active {
  @include mixins.text-bold(18px, 16px, #fff);
  background: #46a358;
}

.box {
  font-family: "Cera Pro Light";
}

li.memnuLISt {
  font-family: "Cera Pro Regular";
  transition: 0.3s;
  cursor: pointer;
}

.menuList > li:hover > ul {
  @include mixins.flex(normal, normal, column);
  padding-top: 37px;
}

.sublist {
  position: absolute;
  display: none;
  transition: 0.3s;
}

.sublist li {
  padding: 8px 0 8px 14px;
  background-color: #edf6ee;
  @include mixins.text-regular(16px, 20px, #3d3d3d);
  transition: 0.3s;
}

.ming {
  @include mixins.flex(baseline, normal, row, 88.97px);
  position: relative;
  z-index: 2;
  transition: 0.3s;
}

.ming:hover {
  background: #1a712a;
  color: #fff;
  font-family: "Cera Pro Bold";
}

.sublist li.ming:hover .tvar {
  transform: rotate(180deg);
  filter: brightness(0) invert(1);
}

.tvar {
  margin-right: 17px;
  transition: 0.3s;
}

.pdf {
  display: none;
  position: absolute;
  padding-left: 2px;
  top: -300%;
  left: 100%;
  z-index: 1;
  transition: 0.3s;
}

.sublist li.ming:hover .pdf {
  @include mixins.flex(normal, normal, column);
}

.pdf li {
  padding: 8px 0 8px 14px;
  width: 200%;
  transition: 0.3s;
}

.container67 {
  padding: 69px 119px;
}

.topblock {
  @include mixins.flex(normal, normal, row, 28px);
  margin-bottom: 138px;
  transition: 0.3s;
}

.podtopblock {
  position: relative;
  display: flex;
  background: #fbfbfb;
}

.p4 {
  @include mixins.text-black(16px, 24px, #3d3d3d);
  padding: 4px 0 4px 0;
  text-transform: uppercase;
}

.p5 {
  padding: 5px 0 5px 0;
  @include mixins.text-regular(16px, 24px, #727272);
  text-align: right;
}

.find {
  @include mixins.flex(normal, end);
}

.findmore {
  margin-top: 36px;
  @include mixins.flex(center, normal, row, 2px);
  @include mixins.text-medium(14px, 20px, #fff);
  border: none;
  border-radius: 6px;
  background: #46a358;
  padding: 11px 27px;
  cursor: pointer;
}

.findmore:active {
  background: #4fc867;
}

.text2 {
  padding: 37px 30px;
  margin-left: 200px;
  @include mixins.flex(end, normal, column);
}

.zvetok5 {
  z-index: 1;
  position: absolute;
  width: 287px;
  top: -21%;
  left: -3%;
}

.älarm {
  position: relative;
  display: flex;
  background: #fbfbfb;
}

.text3 {
  padding: 37px 30px;
  @include mixins.flex(end, normal, column);
  margin-left: 200px;
}

.zvetok3 {
  z-index: 1;
  position: absolute;
  width: 289px;
  top: -21%;
  left: -3%;
}

.p8 {
  text-align: center;
  @include mixins.text-bold(30px, 16px, #3d3d3d);
  padding-bottom: 15px;
}

.p9 {
  text-align: center;
  @include mixins.text-regular(14px, 24px, #727272);
  padding-bottom: 35px;
}

.nizofr {
  max-width: 268px;
}

.text4 {
  background: #fbfbfb;
  padding: 9px;
}

.readmore {
  @include mixins.flex(center, normal, row, 3px);
  @include mixins.text-medium(14px, 16px, #3d3d3d);
  border: none;
  background-color: #fbfbfb;
  margin-top: 9px;
  transition: 0.3s;
  cursor: pointer;
}

.p10 {
  @include mixins.text-medium(14px, 16px, #46a358);
  margin-bottom: 4px;
}

.p11 {
  @include mixins.text-bold(20px, 26px, #3d3d3d);
  margin-bottom: 4px;
}

.p12 {
  @include mixins.text-regular(14px, 22px, #727272);
  margin-right: -10px;
}

.niz1 {
  @include mixins.flex(normal, normal, row, 52px);
}

.gf {
  @include mixins.flex(normal, normal, column);
  max-width: 268px;
}

.p20 {
  @include mixins.text-bold(20px, 26px, #3d3d3d);
  margin-bottom: 4px;
  margin-right: -1px;
}

.p21 {
  @include mixins.text-regular(14px, 22px, #727272);
}

ul.pokypki {
  @include mixins.flex(normal, center, row, 26px);
  cursor: pointer;
  transition: 0.3s;
}

.superogromniupenis {
  position: relative;
  cursor: pointer;
}

.home3 {
  display: none;
  position: absolute;
  bottom: 65px;
  left: 19%;
}

.home3 .pokypki svg path {
  fill: #000;
  cursor: pointer;
}

.home3 button:hover svg path {
  fill: #46a358;
  cursor: pointer;
}

.korzina {
  @include mixins.flex(center, center);
  border: none;
  background-color: #ffffff;
  border-radius: 4px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  transition: 0.3s;
}

.superogromniupenis:hover .home3 {
  display: flex;
}

.plant-img:hover {
  border-top: 1px solid #46a358;
}

.old-price {
  text-decoration: line-through;
  @include mixins.text-regular(18px, 16px, #a5a5a5);
  font-size: 18px;
}

.newold {
  @include mixins.flex(baseline, normal, row, 16px);
}

.skidka {
  position: absolute;
  @include mixins.text-medium(16px, 16px, #fff);
  background: #46a358;
  padding: 8px;
  @include mixins.flex(center, center, row);
  top: 14px;
  left: 0;
}

.gf:hover .read .readmore {
  color: #46a358;
  font-family: "Cera Pro Medium";
}

.readmor {
  fill: #3d3d3d;
  transition: 0.3s;
  cursor: pointer;
}

.gf:hover .read .readmore .readmor {
  fill: #46a358;
}

.lastcontainer {
  padding: 91px 120px 22px 120px;
}

.boxsik {
  background: #fbfbfb;
  @include mixins.flex(normal, normal, row, 30px);
  padding: 25px 25px;
}

.koks {
  background-image: url(../img/kaktys.png);
  background-repeat: no-repeat;
  background-size: 77px;
  background-position: top left;
}

.p22 {
  @include mixins.text-bold(17px, 16px, #3d3d3d);
  margin: 104px 0 9px 0;
}

.p23 {
  @include mixins.text-regular(14px, 22px, #727272);
}

.koks2 {
  background-image: url(../img/kaktus2.png);
  background-repeat: no-repeat;
  background-size: 83px;
  background-position: 29px 4px;
  padding: 0 30px;
  border-left: 1px solid rgba(70, 163, 88, 0.1);
  border-right: 1px solid rgba(70, 163, 88, 0.1);
}

.p28 {
  @include mixins.text-bold(18px, 16px, #3d3d3d);
  padding-bottom: 25px;
  @include mixins.flex(normal, center, row);
}

.epta {
  @include mixins.text-regular(14px, 16px, #acacac);
  padding-left: 10px;
  border: none;
  min-width: 370px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.06);
}

.Join {
  @include mixins.text-bold(18px, 16px, #fff);
  margin-right: 28px;
  padding: 12px 27px;
  border: none;
  border-radius: 6px;
  background: #46a358;
  cursor: pointer;
}

.Join:active {
  background: #4fc867;
}

.int {
  padding-bottom: 43px;
  @include mixins.flex(stretch, space-between, row);
}

.p29 {
  @include mixins.text-regular(13px, 22px, #727272);
  margin-right: 33px;
}

.gradient {
  @include mixins.flex(center, space-between);
  background: linear-gradient(90deg, #edf6ef 0%, #52c368 100%);
  padding: 25px;
}

.p30 {
  @include mixins.flex(center, normal, row, 8px);
}

.polok {
  @include mixins.flex(center, normal);
}

.vse {
  background: #fbfbfb;
  @include mixins.flex(normal, space-between);
  padding: 33px 155px 29px 25px;
  border-bottom: 1px solid rgba(70, 163, 88, 0.2);
}

.mya {
  @include mixins.text-bold(18px, 16px, #3d3d3d);
  margin-bottom: 8px;
}

.mya2 {
  @include mixins.text-regular(14px, 30px, #3d3d3d);
  cursor: pointer;
}

.lyi {
  @include mixins.flex(normal, normal, row, 10px);
  border: none;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.mya19 {
  @include mixins.text-bold(18px, 16px, #3d3d3d);
  padding-bottom: 20px;
}

.mya20 {
  @include mixins.text-bold(18px, 16px, #3d3d3d);
  padding: 33px 0 12px 0;
}

.p100 {
  padding-top: 7px;
  @include mixins.flex(center, center);
  @include mixins.text-regular(14px, 30px, #3d3d3d);
} /*# sourceMappingURL=style.css.map */

.poisklog {
  @include mixins.flex(center, normal, row, 30px);
}

.lypa,
.korzinka,
.löl {
  border: none;
  background-color: #fff;
  cursor: pointer;
  max-width: 30px;
}

.rangik {
  margin-left: 30px;
  width: 209px;
  cursor: grab;
  accent-color: #46a358;
}

.colorprice {
  @include mixins.text-regular(15px, 16px, #3d3d3d);
  padding-left: 30px;
  margin-top: 15px;
}

.colorit {
  @include mixins.text-bold(15px, 16px, #46a538);
}

.filtryi {
  margin: 24px 30px 46px 30px;
  padding: 8px 25px;
  border-radius: 6px;
  @include mixins.text-bold(16px, 20px, #fff);
  background: #46a358;
  border: none;
  cursor: pointer;
}

.razmer,
.range {
  @include mixins.text-bold(18px, 16px, #3d3d3d);
  padding-left: 18px;
}

.range {
  margin-bottom: 15px;
}

.messi1,
.messi3 {
  @include mixins.flex(normal, space-between);
  @include mixins.text-regular(15px, 40px, #3d3d3d);
  padding: 0 24px 0 30px;
}

.messi3 {
  margin-bottom: 19px;
}

ul.MenuList11 {
  @include mixins.text-regular(15px, 40px, #3d3d3d);
  cursor: pointer;
  padding-right: 24px;
}

.regcontainer {
  @include mixins.flex(normal, normal, column);
  max-width: 500px;
  margin: auto;
  background-color: #fbfbfb;
}

.lines {
  height: 10px;
  background-color: #46a358;
}

.regheader {
  @include mixins.flex(normal, end);
}

.regkrest {
  border: none;
  background-color: #fbfbfb;
}

.regtext {
  @include mixins.flex(normal, center, $g: 12px);
  margin-bottom: 40px;
}

.logreg {
  @include mixins.text-medium(20px, 16px, #3d3d3d);
}

.regreg {
  @include mixins.text-regular(20px, 16px, #46a358);
}

.reginput {
  @include mixins.flex(center, center, column, 16px);
}

.regenter {
  @include mixins.text-regular(13px, 16px, #3d3d3d);
  margin-bottom: 14px;
}

.formInput {
  @include mixins.text-regular(14px, 16px, #a5a5a5);
  padding: 12px 14px;
  border-radius: 5px;
  border: 1px solid #eaeaea;
  margin-bottom: 16px;
}

.pass {
  @include mixins.text-regular(14px, 16px, #a5a5a5);
  padding: 12px 14px;
  border-radius: 5px;
  border: none;
  min-width: 268px;
}

.inputoko {
  margin-bottom: 16px;
  border-radius: 5px;
  border: 1px solid #eaeaea;
  display: flex;
}

.ebalyavrot {
  @include mixins.flex(center, normal);
  border: none;
  background-color: #fff;
  margin-right: 10px;
  cursor: pointer;
}

.regbtn {
  @include mixins.text-bold(16px, 16px, #fff);
  margin: 41px 0 36px 0;
  padding: 16px 0 13px;
  border-radius: 5px;
  background: #46a358;
  cursor: pointer;
  border: none;
}

.regbtn:active {
  background: #4fc867;
}

.regdown {
  @include mixins.flex(center, center, column);
}

.btnreg {
  min-width: 100%;
  padding: 9px 0;
  @include mixins.flex(center, center, row, 9px);
  border-radius: 5px;
  @include mixins.text-medium(13px, 16px, #727272);
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  cursor: pointer;
}

.btnreg:active {
  background-color: #eaeaea;
}

.regor {
  @include mixins.text-regular(13px, 16px, #3d3d3d);
  position: relative;
  z-index: 1;
  background-color: #fbfbfb;
  padding: 0 6px;
  align-self: center;
}

.blockreg {
  border: 1px solid #eaeaea;
  margin-top: -9px;
}
.klop {
  @include mixins.flex($fd: column);
  margin-bottom: 27px;
  height: 16px;
}

.formlink {
  display: flex;
  margin-bottom: 15px;
}

.pedrik {
  @include mixins.flex(normal, start, column);
}

.radio-hidden {
  display: none;
}

.messi10,
.messi18 {
  @include mixins.flex($jc: space-between);
  @include mixins.text-regular(15px, 40px, #3d3d3d);
  padding: 0 24px 0 30px;
  cursor: pointer;
  transition: 0.5s;
}

.messi18 {
  margin-bottom: 36px;
}

.messi1:has(input:checked),
.messi3:has(input:checked),
.messi10:has(input:checked),
.messi18:has(input:checked) {
  @include mixins.text-bold(15px, 40px, #46a358);
  transition: 0.5s;
}

.loader {
  display: none;
  position: absolute;
  top: 0;
  bottom: 4%;
  right: 0;
  left: 0;
  margin: auto;
  height: 32px;
  width: 32px;
  box-sizing: border-box;
  border: 4px solid;
  border-radius: 50%;
  border-top-color: #5fe1b3;
  border-left-color: #a0efd2;
  border-right-color: #a0efd2;
  border-bottom-color: #a0efd2;
  animation: rotating 1.1s linear infinite;
}

.form {
  padding: 13px;
}

.setkaapp {
  @include mixins.flex(normal, normal, row, 10px);
}

.formContainer {
  padding: 20px 87px 40px;
  @include mixins.flex(stretch, start, column, 0, nowrap);
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.minimini,
.foto {
  position: relative;
}

.foto {
  width: 518px;
  z-index: 1;
}

.minifoto {
  position: absolute;
  width: 135px;
  top: 66%;
  right: 63%;
}

@media screen and (max-width: 1440px) {
  .tovar {
    gap: 33px 43px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 30px 50px 52px;
  }

  .tovar {
    gap: 33px 43px;
  }

  .text {
    padding: 40px 24px 40px;
  }

  .foto {
    width: 340px;
  }

  .minifoto {
    top: 54%;
  }

  .container67 {
    padding: 50px 20px;
  }

  .niz1 {
    @include mixins.flex(normal, center, row, 91px, wrap);
  }

  .epta {
    min-width: 208px;
  }

  .Join {
    margin-right: 0;
  }

  .vse {
    padding: 33px 25px 29px 25px;
  }

  .p28 {
    min-width: 101%;
  }

  .h1 {
    padding: 50px 20px 15px;
  }

  .messi18 {
    margin-bottom: 102px;
  }

  .messi3 {
    margin-bottom: 90px;
  }

  .text2 {
    padding: 10px 7px;
    margin-left: 167px;
  }

  .findmore {
    margin-top: 17px;
  }

  .text3 {
    padding: 10px 7px;
    margin-left: 167px;
  }

  .zvetok5 {
    max-width: 190px;
    top: -17%;
    left: -3%;
  }

  .zvetok3 {
    max-width: 190px;
    top: -17%;
    left: -3%;
  }

  .messi10 {
    @include mixins.text-regular(15px, 50px, #3d3d3d);
  }

  .messi1 {
    @include mixins.text-regular(15px, 45px, #3d3d3d);
  }
}

@media screen and (max-width: 768px) {
  .container67 {
    padding: 25px;
  }

  .niz1 {
    @include mixins.flex(normal, center, row, 70px, wrap);
  }

  .lastcontainer {
    padding: 20px;
  }

  .boxsik {
    @include mixins.flex(normal, normal, row, 10px, nowrap);
    padding: 10px;
  }

  .koks2 {
    padding: 0 15px;
  }

  .gradient {
    @include mixins.flex(center, space-evenly, row, 0, wrap);
    padding: 25px;
  }

  .foto {
    max-width: 288px;
  }

  .minimini {
    top: 33px;
    left: 25px;
  }

  .minifoto {
    top: 47%;
  }

  button.button2 {
    margin-top: 20px;
  }

  ul.menuLIst {
    @include mixins.flex(normal, normal, row, 8px, nowrap);
  }

  .menuLISt {
    @include mixins.flex(normal, normal, row, 0, nowrap);
  }

  .plant-img {
    max-width: 170px;
  }

  .plant-img.plant-img--4 {
    padding: 18px 13px 8px 12px;
  }

  .container {
    padding: 30px 20px 52px;
  }

  .navbar {
    @include mixins.flex(normal, space-between, row, 5px, nowrap);
  }

  .container3 {
    @include mixins.flex(normal, normal, row, 20px, nowrap);
  }

  .home3 {
    bottom: 58px;
    left: 13%;
  }

  ul.pokypki {
    @include mixins.flex(normal, space-between, row, 9px, nowrap);
  }

  .h1 {
    padding: 50px 20px 15px;
  }

  .messi18 {
    margin-bottom: 102px;
  }

  .messi3 {
    margin-bottom: 90px;
  }

  .text2 {
    padding: 10px 7px;
    margin-left: 167px;
  }

  .findmore {
    margin-top: 17px;
  }

  .text3 {
    padding: 10px 7px;
    margin-left: 167px;
  }

  .zvetok5 {
    max-width: 190px;
    top: -17%;
    left: -3%;
  }

  .zvetok3 {
    max-width: 190px;
    top: -17%;
    left: -3%;
  }

  .messi10 {
    @include mixins.text-regular(15px, 50px, #3d3d3d);
  }

  .messi1 {
    @include mixins.text-regular(15px, 45px, #3d3d3d);
  }
}

@media screen and (max-width: 425px) {
  .formContainer {
    padding: 45px;
  }

  .vse {
    @include mixins.flex(center, space-between, column);
  }

  .lastcontainer {
    @include mixins.flex(normal, normal, column);
    padding: 0;
  }

  .mya {
    margin-top: 20px;
  }

  .mya19 {
    margin-top: 20px;
    @include mixins.flex(normal, center);
  }

  .mya20 {
    @include mixins.flex(normal, center);
  }

  .lakosta {
    @include mixins.flex(center, normal, column);
  }

  .lakosta2 {
    @include mixins.flex(center, normal, column);
  }

  .lakosta3 {
    @include mixins.flex(center, normal, column);
  }

  .boxsik {
    @include mixins.flex(normal, normal, column);
  }

  .container {
    padding: 30px 0 52px 0;
  }

  .container67 {
    padding: 0;
  }

  .topblock {
    @include mixins.flex(normal, normal, column, 28px, nowrap);
  }

  .container3,
  .container2 {
    @include mixins.flex(normal, normal, column);
  }

  .fotka999 {
    @include mixins.flex(normal, center, row);
  }

  .p1 {
    @include mixins.text-medium(14px, 35px, #3d3d3d);
  }

  .p2 {
    @include mixins.text-black(40px, 40px, #3d3d3d);
  }

  .p3 {
    @include mixins.text-regular(13px, 24px, #727272);
  }

  .spank {
    @include mixins.text-black(40px, 40px, #46a538);
  }

  .vse {
    @include mixins.flex(center, center, row, 23px, wrap);
    padding: 33px 0;
  }

  .p30 {
    @include mixins.text-regular(15px, 10px, #3d3d3d);
  }

  .gradient {
    @include mixins.flex(center, space-evenly, row, 10px, wrap);
    padding: 5px;
  }

  .koks {
    margin: 20px 0;
  }

  .koks2 {
    background-image: url(../img/kaktus2.png);
    background-repeat: no-repeat;
    background-size: 83px;
    background-position: 29px 4px;
    padding: 0;
    border-left: 0px solid rgba(70, 163, 88, 0.1);
    border-right: 0px solid rgba(70, 163, 88, 0.1);
  }

  .epta {
    min-width: 278px;
  }

  .container4 {
    margin-top: 30px;
  }

  .navbar {
    @include mixins.flex(normal, space-between, column, 12px, nowrap);
  }

  ul.menuLIst {
    @include mixins.flex(normal, normal, row, 101px, nowrap);
  }

  ul.menuLISt {
    @include mixins.flex(normal, center, row, 11px, nowrap);
  }

  .header {
    @include mixins.flex(center, space-between, column);
  }

  .pdf {
    padding: 50px;
    top: -29%;
    left: -18%;
  }

  .h1 {
    padding: 20px 20px 12px;
  }

  .messi18 {
    margin-bottom: 20px;
  }

  .messi3 {
    margin-bottom: 15px;
  }

  .minimini {
    top: -10px;
    left: 120px;
  }

  .minifoto {
    left: -48px;
  }

  button.button2 {
    margin: 30px 0 0 196px;
  }

  .p5 {
    @include mixins.text-regular(15px, 24px, #727272);
  }

  .p4 {
    @include mixins.text-black(20px, 22px, #3d3d3d);
  }

  .text {
    padding: 40px 5px;
  }
}

@media screen and (max-width: 375px) {
  .setkaapp {
    @include mixins.flex(normal, center, row, nowrap, 10px);
  }

  .tovar {
    @include mixins.flex(normal, normal, row, 33px, 35px);
  }
}
